.path-dboard .two-block-columns .block-region {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50% auto;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
}

@media screen and (max-width: 497px) {
    .path-dboard .two-block-columns .block-region {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }
}

.path-dboard .two-block-columns .block-region > span {
    display: none;
}

.path-dboard .three-block-columns .block-region {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 33% 32% 33%;
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
}

@media screen and (max-width: 742px) {
    .path-dboard .three-block-columns .block-region {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 50% auto;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }
}

@media screen and (max-width: 497px) {
    .path-dboard .three-block-columns .block-region {
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: 100%;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }
}

.path-dboard .three-block-columns .block-region > span {
    display: none;
}

.path-dboard .auto-fit-block-columns .block-region {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
}

.path-dboard .auto-fit-block-columns .block-region > span {
    display: none;
}

.path-local-dboard .choosed-icon {
    background: wheat;
    border-radius: 8px;
}

.path-local-dboard .modal-body .icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 5px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-right: 0.5rem;
    cursor: pointer;
}

.path-local-dboard .icon.selected_icon {
    width: 30px;
    height: 30px;
    font-size: 25px;
}

.disable-editmode .editmode-switch-form {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

/* Hide user icon on user dashboard pages. */
.path-dboard #page-header .page-header-image {
    display: none;
}

/* ACE engagement analytics - header message and contact button */
.path-dboard #page-header .header-button-group {
    display: none !important; /* stylelint-disable-line declaration-no-important */
}

/* ACE engagement analytics - header message and contact button */
.path-dboard #page-header .page-context-header .page-header-headings {
    margin-top: 0;
}
